{
    "name": "html5proyectofinal",
    "firstRun": false,
    "exportConfig": true,
    "fileConfigs": [
        {
            "path": "pug/index.pug",
            "configJson": "{\"forceCompile\":false,
            \"customOutput\":\"index.html\",\"autoCompile\":true,
            \"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
        },
        {
            "path": "pug/contacto.pug",
            "configJson": "{\"forceCompile\":false,
            \"customOutput\":\"contacto.html\",\"autoCompile\":true,
            \"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
        },
        {
            "path": "pug/portafolio.pug",
            "configJson": "{\"forceCompile\":false,
            \"customOutput\":\"portafolio.html\",\"autoCompile\":true,
            \"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
        },
        {
            "path": "pug/servicios.pug",
            "configJson": "{\"forceCompile\":false,
            \"customOutput\":\"servicios.html\",\"autoCompile\":true,
            \"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
        },
        {
            "path": "pug/nosotros.pug",
            "configJson": "{\"forceCompile\":false,
            \"customOutput\":\"nosotros.html\",\"autoCompile\":true,
            \"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
        }
    ],
    "fileTree": {
        "expandedDirs": [
            "pug/blocks",
            "pug"
        ],
        "hideSystemFiles": true,
        "systemFiles": [
            
        ]
    }
}