-pages = ['inicio', 'nosotros', 'servicios', 'portafolio', 'contacto']
-pageTitle = 'inicio'
-currentPage = 'inicio'
-siteTitle = 'creativos ABC'
-description = 'Bienvenidos al sitio web de creativos ABC'
-siguenos = true